<div class="flex w-full justify-center">

	@if (successfullClosure) {
		<app-reporte-cierre-page [cierreResponse]="closureResponse"></app-reporte-cierre-page>
	} @else {


	<div class="my-8 flex flex-col gap-4 justify-center items-center grow border border-gray-300 rounded-xl max-w-1/3 p-4">

		<img src="/hbs-logo.png" alt="">

		<h1 class="text-xl font-medium">Cuadrar Cajero</h1>
		<p class="text-gray-700">Recuerda que una vez cerrada esta sesión de cajero, no podrás realizar más transacciones hasta volver a abrir otra.</p>

		<form [formGroup]="cashierSessionFormGroup"
			class="flex flex-col gap-4 justify-center items-center h-full"
			(submit)="onSubmit($event)">
      		<p>Sesión de Cajero Actual: {{ currentCashierSession() }}</p>

			<app-input label="Monto Real de Dinero" id="montoReal" type="number" placeholder="S/100"
				inGroupName="montoReal"></app-input>

			<app-button type="submit">Cuadrar Cajero</app-button>
		</form>
	</div>

	}
</div>