@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@theme {
  --color-primary: #0081c5; /* Example custom primary color */
  --color-secondary: #8bc54a; /* Example custom secondary color */
  --color-danger: #ec2700; /* Another custom color */
  --color-primary-hard: #076ba1;
  --color-secondary-dark: #6b9a3a;
  --color-danger-dark: #c21e00;
  --color-border-stroke: #e0e0e0;
}

* {
  font-family: 'Geist', 'sans-serif';
}