/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #0081c5; /* Example custom primary color */
  --color-secondary: #8bc54a; /* Example custom secondary color */
  --color-danger: #ec2700; /* Another custom color */
  --color-primary-hard: #076ba1;
  --color-secondary-dark: #6b9a3a;
  --color-danger-dark: #c21e00;
  --color-border-stroke: #e0e0e0;
}